<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="styles/main.css" />

        <title>Andy Smith | Software Developer</title>
    </head>
    <body>
        <nav>
            <h1>Andy Smith</h1>
            <ul class="menu">
                <li><a href="#about" class="nav-link">About</a></li>
                <li><a href="#projects" class="nav-link">Projects</a></li>
            </ul>
            <button class="hamburger-menu">
                <ion-icon class="bars" name="menu-outline"></ion-icon>
            </button>
        </nav>
        <section class="hero">
            <div class="banner">
                <div class="workspace">
                    <div class="computer">
                        <div class="screen"></div>
                    </div>
                    <div class="stand"></div>
                    <div class="base"></div>
                    <div class="top"></div>
                    <div class="bottom">
                        <div class="left leg"></div>
                        <div class="right leg"></div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="about-me" id="about">
                <h2>About Me</h2>
                <div class="about-container">
                    <div class="about-bubble">
                        <p>I'm a dedicated Front-End Developer who enjoys architecting visually appealing and responsive web interfaces. I embrace challenges and cherish the journey of constant learning. </p> 
                    </div>
                </div>
            <div>
        </section>
        <section> 
            <div class="sample-projects" id="projects">
            <h2>Projects</h2> 
            <div class="project-container">
                <div class="project">
                    <h3>Tetris in C</h2>
                    <a href="https://github.com/andyrsmith/tetris-in-c">
                        <img src="images/tetris2.gif" alt="Animated Gif of Tetris"/>
                    </a>
                </div>
                <div class="project">
                    <h3>Ray Casting in Javascript</h2>
                    <img src="images/ray-casting2.gif" alt="Animated Gif of Raycasting"/>
                </div>
                <div class="project">
                    <h3>Dungeon Crawler in Phaser</h2>
                    <a href="https://github.com/andyrsmith/dungeon-crawler"> 
                        <img src="images/dungeon-crawler2.gif" alt="Animated Gif of Dungeon Crawler Game"/>
                    </a>
                </div>
            </div>
            </div>
        </section>
    </body>
</html>
