---
layout: default
---
<section class="hero">
    <div class="banner">
        <h1>Andy Smith <br/>Software Engineer</h1>
    </div>
</section>
<!-- <section>
    <div class="about-me" id="about">
        <h2>About Me</h2>
        <div class="about-container">
            <div class="about-bubble">
                <p>I'm a dedicated Front-End Developer who enjoys architecting visually appealing and responsive web interfaces. I embrace challenges and cherish the journey of constant learning. </p> 
            </div>
        </div>
    <div>
</section> --> 

