<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="styles/main.css" />

        <title>Andy Smith | Software Developer</title>
    </head>
    <body>
        <nav>
            <h1>Andy Smith</h1>
            <ul class="menu">
                <li><a href="#projects" class="nav-link">Main</a></li>
                <li><a href="#projects" class="nav-link">Blog</a></li>
            </ul>
            <button class="hamburger-menu">
                <ion-icon class="bars" name="menu-outline"></ion-icon>
            </button>
        </nav>
        <section class="post">
            <div class="sample-projects">
                {{ content }}
            </div>
        <section>
    </body>
</html>

