@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: rgb(28, 24, 40);
    --primary-color: rgb(220, 215, 242);
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--primary-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.hamburger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.hero {
    position: relative;
}

.banner {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    padding-top: 3em;
    place-items: center;
    background-color: #4A4E69;
}
.workspace {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.computer {
    width: 27em;
    height: 16em;
    background-color: #e8e2da;
    border: 1px solid #000000;
}
.screen {
    height: 80%;
    width: 90%;
    border: 2px solid #000000;
    margin-top: 1em;
    margin-left: 4.9%;
    background-color: #000000;
}
.stand {
    width: 6em;
    height: 4em;
    background-color: #e8e2da; 
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}
.base {
    width: 12em;
    height: 1em;
    background-color: #e8e2da;
    border: 1px solid #000000;
}
.top {
    width: 50em;
    height: 5vh;
    background-color: #995136;
    border: 1px solid black;
    position: relative;
    z-index: 3;
    border-radius: 5%;
    background-image:
        linear-gradient(35deg, #00000044, #00000033)
}
.bottom {
    display: flex;
}
.left-leg {  
    width: 2vw;
    height: 50vh;
    background: #2e4057;
    border: 1px solid black;
    position: relative;
    z-index: 2;
}
.leg {
    width: 2vw;
    height: 33vh;
    margin: 0 20em;
    background: #2e4057;
    border: 1px solid black;
    z-index: 2;
}

.recent-post {
    padding-top: 4em;
}

.post-content {
    margin: 0em auto;
    width: 50%;
    padding-top: 7em;
    padding-bottom: 7em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 1em;
}

.post-container p, .project-container p {
    margin-top: 1em;
}

.sample-projects {
    background-color: var(--bg-color);
    padding-top: 4em;
}

.sample-projects h2 {
    color: var(--primary-color);
    text-align: center;
}

.project-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2em;
    padding-bottom: 5em;
}

.post-container li {
    margin-top: 2em;
}

.post-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2em;
    padding-bottom: 5em;
}

.about-me {
    background-color: var(--bg-color);
    padding-top: 4em;
}
.centered-heading {
    color: var(--primary-color);
    text-align: center;
}

.about-me h2 {
    color: var(--primary-color);
    text-align: center;
}

.about-me p {
    color: var(--primary-shadow);
    margin-left: 3em;
    letter-spacing: 0.05rem;
}

.about-me .about-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 5em;
    padding-bottom: 2em;
}

.about-me .about-bubble {
    background-color: #4A4E69;
    width: 30em;
    margin-right: 25em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 2em;
}


.project {
    margin-top: 2em;
}

.project h3 {
    color: var(--primary-color);
    margin-bottom: 1em;
    text-align: center;
}

.project img {
   height: 250px;
}

body h2, body p, body h3 {
    color: var(--primary-color);
}
  
.post h2{
    margin-bottom: 1em;
    font-size: 30px;
}
.post-collection h1 {
    font-size: 40px;
    margin-bottom: 2em;
}
.post-collection h2 {
    font-size: 30px;
}

.post p, .post-collection p {
    font-size: 16px;
    line-height: 26px;
}

.post-collection p.summary {
    margin-top: 1em;
    margin-bottom: 1em;
}

.post-collection p.date {
    font-style: italic;
}

.post-collection li {
    margin-bottom: 4em;
}

.language-plaintext {
    background-color: rgba(220, 215, 242, 0.133);
    border-radius: 1em;
    padding: 2em;
    margin: 2em 1em;
    color: rgb(220, 215, 242);
    
}

@media screen and (max-width: 1600px) {
    .post-content {
        width: 65%;
    }
}



@media screen and (max-width: 1200px) {
    .post-content {
        width: 75%;
    }
}

@media screen and (max-width: 720px) {
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background: #fcfcfc;
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5 ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .hamburger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }
    .banner {
        height: 50vh;
    }

    .post-content {
        width: 100%;
    }

}

@media screen and (max-width: 450px) {
    .computer {
        width: 23em;
    }
}
